/* Importing Block Styles (Light) */
@import url('../blocks/body.css');
@import url('../blocks/buttons.css');
@import url('../blocks/header.css');
@import url('../blocks/main.css');
@import url('../blocks/main_form.css');
@import url('../blocks/footer.css');
/* Global Animations */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	} /* Starts table faded out and shifted down. */
	to {
		opacity: 1;
		transform: translateY(0);
	} /* Ends table fully visible and in place. */
}