@import url('../blocks/dark/body.css');
@import url('../blocks/dark/header.css');
@import url('../blocks/dark/main.css');
@import url('../blocks/dark/main_form.css');
@import url('../blocks/dark/footer.css');
/* Global Animations */
@keyframes slideIn {
	from {
		transform: translateY(
			-30px
		); /* Starts the element 30px above its final position for slide effect. */
		opacity: 0; /* Fully transparent at start for fade-in effect. */
	}
	to {
		transform: translateY(0); /* Moves the element to its final position. */
		opacity: 1; /* Fully visible at end for fade-in effect. */
	}
}

